
body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}


h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}
